:root {
  --text-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color:rgb(39, 37, 46);
    color: var(--text-color);
}

a {
    text-decoration: none;
}